<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="/css/community.css">
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="main  container-fluid ">
    <div class="col-gl-9 col-md-9 col-sm-9">
        <h2><span th:text="${sectionName}"></span></h2>
        <span th:text="${section}"></span>
        <span th:text="${section}"></span>
        <hr>
        <div class="media" th:each="question :${paginationDTO.question}">
            <div class="media-left">
                <a href="#">
                    <img class=" media-object" th:src="${question.userAvatar}" alt="头像">
                </a>

            </div>
            <div class="media-body">
                <h4 class="media-heading" th:text="${question.tittle}"></h4>
                <span th:text="${question.description}"></span><br>
                <span class="text-desc" > <span th:text="${question.commentCount}" ></span> 回复 ， <span th:text="${question.viewCount}"></span>次浏览 ,<span th:text="${#dates.format(question.getGmtCreate(),'dd MMMM YYYY')}"></span></span>
            </div>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li th:if="${paginationDTO.showFirstPage}">
                    <a th:href="@{/profile/{section}(page=${paginationDTO.page},section=${section})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:if="${paginationDTO.showPreious}">
                    <a th:href="@{/profile/{section}(page=${paginationDTO.page-1},section=${section})}" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>
                <li th:each="page:${paginationDTO.pages} " th:class="${paginationDTO.page == page} ? 'active' : ''">
                    <a th:href="@{/profile/{section}(page=${page},section=${section})}"   th:text="${page}" ></a></li>

                <li th:if="${paginationDTO.showLast}">
                    <a th:href="@{/profile/{section}(page=${paginationDTO.page+1} ,section=${section})}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
                <li th:if="${paginationDTO.showLastPage}">
                    <a th:href="@{/profile/{section}(page=${paginationDTO.totalPage},section=${section})}"aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>



    </div>
    <div class="col-gl-3 col-md-3 col-sm-3 " >

        <div class="profile-section list-group " style="margin-top:15px">

            <a href="/profile/questions"  th:class="${section == 'questions'}? 'active list-group-item':'list-group-item'">我的提问</a>
            <a href="#"  th:class="${section == 'replies'}? 'active list-group-item':'list-group-item'">
                最新回复
                <span class="badge">14</span>
            </a>

        </div>
    </div>
</div>

<script src="/js/jquery-3.4.1.js" type="application/javascript"></script>
<script src="/js/bootstrap.min.js" type="application/javascript"></script>

</body>
</html>